{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>

    <!--Load bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="hero">

        <div class="hero-body">

            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="content">
                            <ul>

                                <li>Name: {{context.fullname}}</li>

                                <li>Phone: {{context.phone_number}}</li>

                                <li>
                                    Email: {{context.email}}
                                </li>
                                <br>
                                <li>
                                    {{context.message}}
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>