@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Teko:wght@400;500&display=swap');


.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}

/* Setup logo size for desktop */
.logo { 
    width: 125px;
    height: inherit;
}

.main-background {
    /* Get the image for the main page */
    /*background-image: url('images/main_background.jpeg');*/
    height: 100%;

    /* Create parallax effect */
    background-attachment: fixed;

    /* Set up the image */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.main-bg {
    background-color: rgba(0, 0, 0, .3);
}

.header-text {
    font-size: 5rem;
    margin-top: -5%;
}

@media screen and (max-width: 720px) and (min-width: 200px){
    .header-text {
        font-size: 4rem;
    }
}